<ul id="slides">

<% @users.each_with_index do |user, i| %>
<div class="slide <%= 'showing' if i == 0 %>" data-id="<%= user.id %>">
	<p><%= user.first_name%></p>	
</div>
<% end %>

</ul>

<div id="slide-controls">
	<button id="decline">No</button>
	<button id="approve">Yes</button>
</div>